<app-navbar></app-navbar>

<div class="chart-container">

    <form form [formGroup]="requirementForm" (ngSubmit)="onSubmit()">
        
        <div class="row">
            <div class="col-4"></div>
            <div class="col-5">
                <h3>Enter Your Requirement</h3>
            </div>
        </div>
        
        <div class="form-group">
          <textarea formControlName="requirement" class="form-control" id="exampleFormControlTextarea1" rows="6"></textarea>
        </div>

        <div class="row">
            <div class="col-5"></div>
            <div class="col-1">
                <div class="form-group">
                    <label for="formGroupExampleInput" class="bmd-label-floating">No of Resumes</label>
                    <input type="text"  formControlName="noOfResume" class="form-control" id="formGroupExampleInput">
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-5"></div>
            <div class="col-5">
                <button type="submit" [disabled]="!requirementForm.valid" class="btn btn-raised btn-lg btn-primary" >Analyze</button>
            </div>
        </div>

      </form>
      <br>
      

      <div *ngIf="nothingtoShow" class="row">
          <div class="col-4"></div>
          <h3 class="font-weight-light">No requirement found </h3>
      </div>

      <div *ngIf="isrequirementFetch" class="bar">
        <div class="circle"></div>
        <p>Loading</p>
      </div>
      


    <div *ngIf=isdataFetch>
        
        <div class="row">
            <div class="col-4">
                <div class="card" style="width: 40rem;">
                    
                    <div style="display: block;">
                        <canvas baseChart 
                            [datasets]="barChartData"
                            [labels]="barChartLabels"
                            [options]="barChartOptions"
                            [plugins]="barChartPlugins"
                            [legend]="barChartLegend"
                            [chartType]="barChartType">
                        </canvas>
                        </div>
                        
                        
                    <div class="card-body">
                        <h5 class="card-title">
                            <span  class="page-title">Skills Dashboard</span>
                        </h5>
                    </div>
                    </div>
            </div>
    
            <div class="col-4">
                <div class="card" style="width: 40rem;">
                    
                    <div style="display: block;">
                        <canvas baseChart 
                          [data]="pieChartData" 
                          [labels]="pieChartLabels" 
                          [chartType]="pieChartType"
                          [options]="pieChartOptions"
                          [plugins]="pieChartPlugins"
                          [legend]="pieChartLegend">
                        </canvas>
                    </div>
                      
                        
                        
                    <div class="card-body">
                        <h5 class="card-title">
                            <span  class="page-title">Experience Dashboard</span>
                        </h5>
                    </div>
                    </div>
            </div>
        
        </div>
        <div class="my-container">

            <br>
        
            <app-table [Data]="resumeList"></app-table>
            <br>
            <br>
        
        </div>
    </div>
    
</div>
