.page-title {
    font-size: 24px;
    font-weight: 300;
    color: #313b3d;
    letter-spacing: 0;
    margin-right: 30px;
}

.chart-container{
    padding-left: 100px;
    padding-top: 100px;
    padding-right: 50px;
}

.my-container{
    padding-left: 50px;
    padding-top: 20px;
    padding-right: 50px;
}


.col-4 {
    flex: 0 0 33.33333%;
    max-width: 50.33333%;
}


/* Spinner */
html, body {
    background: #347fc3;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  
  .bar {
    position: relative;
    height: 2px;
    width: 500px;
    margin: 0 auto;
    background: #ffffff;
    margin-top: 150px;
  }
  
  .circle {
    position: absolute;
    top: -30px;
    margin-left: -30px;
    height: 60px;
    width: 60px;
    left: 0;
    background: #347fc3;
    border-radius: 30%;
    -webkit-animation: move 5s infinite;
  }
  
  p {
    position: absolute;
    top: -35px;
    right: -85px;
    text-transform: uppercase;
    color: #347fc3;
    font-family: helvetica, sans-serif;
    font-weight: bold;
  }
  
  @-webkit-keyframes move {
    0% {left: 0;}
    50% {left: 100%; -webkit-transform: rotate(450deg); width: 150px; height: 150px;}
    75% {left: 100%; -webkit-transform: rotate(450deg); width: 150px; height: 150px;}
    100 {right: 100%;}
  } 