<app-navbar></app-navbar>
<br>
<br>
<br>
  
<div class="container">

    <div class="row">
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <div style="display: block;">
                    <canvas baseChart 
                      [data]="pieChartData" 
                      [labels]="pieChartLabels" 
                      [chartType]="pieChartType"
                      [options]="pieChartOptions"
                      [plugins]="pieChartPlugins"
                      [legend]="pieChartLegend">
                    </canvas>
                  </div>
                <div class="card-body">
                  <h5 class="card-title center">Skills stats</h5>
                </div>
              </div>
        </div>
    
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <div style="display: block;">
                    <canvas baseChart 
                      [data]="pieChartData" 
                      [labels]="pieChartLabels" 
                      [chartType]="pieChartType"
                      [options]="pieChartOptions"
                      [plugins]="pieChartPlugins"
                      [legend]="pieChartLegend">
                    </canvas>
                  </div>
                <div class="card-body">
                  <h5 class="card-title center">Skills stats</h5>
                </div>
              </div>
        </div>
        
    </div>

    <br>

    <app-table></app-table>
</div>